<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wjddu.layout1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/abc"
        android:label="Check Check English"
        android:roundIcon="@drawable/abc"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".myPage"></activity>
        <activity android:name=".intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".fgreet" />
        <activity android:name=".fun" />
        <activity android:name=".apolo" />
        <activity android:name=".love" />
        <activity android:name=".fight" />
        <activity android:name=".vlearn" />
        <activity android:name=".LogIn" />
    </application>

</manifest>